<app-navbar></app-navbar>

  <div class="container-fluid">
    <div class="row min-vh-100">
      <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center text-white">
        <div class="text-center img">
          <img class="logo" src="{{getLogo()}}" alt="Logo" />
          <h4 class="mt-3">{{ 'login.heroSection.heading' | translate }}</h4>
          <img id="DonationImg" src="{{getImg()}}" alt="Donation Image" class="img-fluid" />
        </div>
      </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
      <div class="container">
        <div class="login-box mt-0">
          <h4 class="text-center mb-4" >{{'login.form.brokerage' | translate}}</h4>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label">{{'login.form.fields.email' | translate}}</label>
              <input
                type="text"
                id="username"
                class="form-control"
                placeholder="{{'login.form.placeholders.email' | translate}}"
                formControlName="username"
              />
              <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
                {{'login.form.required.email' | translate}}
              </div>
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">{{'login.form.fields.password' | translate}}</label>
              <div class="input-group">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  id="password"
                  placeholder="{{'login.form.placeholders.password' | translate}}"
                  formControlName="password"
                />
                <span class="input-group-text toggle-password" (click)="togglePassword()">
                  <i class="fa" [ngClass]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                </span>
              </div>
              <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
                {{'login.form.required.password' | translate}}
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn login-btn" [disabled]="loginForm.invalid">
                {{'login.form.buttons.login' | translate}}
              </button>
            </div>
            <div *ngIf="errorMessage" class="text-danger mt-3 text-center">
              {{ errorMessage }}
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </div>

    <!-- Footer -->
    <div class="mt-5"><app-footer ></app-footer></div>